<?xml version="1.0"?>
<model>
  <name>rover</name>
  <version>0.1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>CyberLuban</name>
    <email>dev@cyberluban.local</email>
  </author>

  <description>
    CyberLuban 校园路面巡检机器人仿真模型
    差速驱动底盘 + 3D LiDAR (模拟 Livox Mid-360) + 工业相机 + IMU
  </description>
</model>
